--extra-index-url https://download.pytorch.org/whl/cu113
torchvision==0.13.1+cu113
torch==1.12.1+cu113
torchshard
numpy
scipy
termcolor
opencv-contrib-python
jupyterlab
notebook
seaborn
Pillow==6.2.2
matplotlib 
loguru
six
imageio==2.9.0
scikit-image
tqdm
scikit-learn
